<%- include('partials/header') %>

<main>
  <h1>hello, <%= user ? user.name : "friend" %></h1>
</main>

<%if(user){%>
  <section class="options">
    <a href= "/project/<%user._id%>">Projects</a>
    <br>
    <a href = ""> Tasks </a>
    <br>
    <a href = "/project"> Browse All Projects</a>
    <br>
  </section>
  
  <%}%>
<%- include('partials/footer') %>
