

html{
  height:100%;
  width:100%;
  background-image: url(https://previews.123rf.com/images/gbuglok/gbuglok1203/gbuglok120300011/12758539-colored-fineliners-on-architectural-project-background.jpg);
  background-size: cover;
}
.nav-link
{
  margin-top:1rem;
}
.nav {
  position: fixed;
  display:flex;
  justify-content: space-around;
  width: 100%;
  top: 0;
  left: 0;
  background:rgba(255,255,255,.8);
}

a{text-decoration: none;}  
.pending
{
  color:rgba(230, 72, 72, 1)
}
.completed
{
  color:rgb(29, 205, 35)
}
.card
{position:relative;
  margin-left:30%;
  text-align:center;
  width:35%;
  background:rgba(255, 255, 255,.8);
}
body {

}

.index
{margin-top:0%;
  width: 100%;
  top: 25%;
  left: 0;
  position:fixed;
}
.parent
{
  position:absolute;
  left:0;
  top:5px;
}

main
{
  text-align:center;
  background:rgba(255,255,255,.9);
  width:100%;
}

a {
  margin-top:5px;
  color: #00B7FF;
}
#bubble:hover{
  font-size: larger;
}


a
tab{
  margin-left: 15%;
}
.icon
{
  height:35px;
  width:50px;
}

.container
{
  text-align: center;
  margin-left:0;
  width:100%;
  background:rgba(255,255,255,.65);
  
}
.indent
{
  margin-left:20%;
 
}
