<%- include('../partials/header') %>


<main>
  <section>
    <br>
    <%if(projects.length>0){%>
        <br>All Projects
        <%projects.forEach(project=>{%>

            <br><a href='projects/show/<%=project._id%>'> <%=project.name%>  </a> 
          

            <%})%>
        <%}else{%>
           There are no new projects!
           <br>
        <%}%>%>
        <br>
        <a href="/projects/new">New Project</a>
    </section>
    </main>








<%- include('../partials/footer') %>