<%- include("../partials/header") %>

<main>

    <form id="new-form" action="/project/" method="POST">
        <label>Name</label>
      <input type="text" name = 'name'>
      <br>
      <Label>Description</Label>
      <input type="comment" name ='description'>
      <br>
      <label>I am project leader</label>
      <input type="radio" name ="lead">
      <br>
      
      <input type="submit" value="Buy Ticket">



</main>










<%- include("../partials/footer") %>